.main {
    margin-bottom: 50px;
}


.todo-form {
    width: 50%;
    height: 200px;
    border: 1px solid gray;
    box-shadow: 0px 0px 15px 1px #0ef;
    border-radius: 10px;
    background-color: #efefed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-top: 100px;
}

.todo-form:hover {
    background-color: lightblue;
    border: 2px solid lightblue;
}

.todo-form .todo-heading {
    margin: 30px 0px 10px 0px;
    font-family: monospace;
    font-size: 26px;
    border-bottom: 1px solid black;
}

.todo-form .todo-div {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-form .todoinput {
    padding: 14px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 62%;
    margin-right: 10px;
    color: black;
}

.todo-form .todobtn {
    padding: 13px;
    width: 20%;
    border: 1px solid gray;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}

.todo-form .todobtn:hover {
    background-color: #081c29;
    color: white;
    box-shadow: 0px 0px 16px 0px #0ef;
}

.todo_list .todo-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px !important;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    margin: 0px auto;
    background: lightcyan;
}

.todo-table .todo-row {
    border-bottom: 1px solid gray;
}

.todo_list .todo_sno {
    width: 150px;
    padding: 10px;
    font-family: monospace;
    font-size: 15px;
}

.todo-table .todo_list2 .todo-delete {
    padding: 10px;
    margin: 0px 6px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.todo-table .todo_list2 .todo-delete:hover {
    background-color: #081c29;
    color: white;
    box-shadow: 0px 0px 16px 0px #0ef;
}

.todo-done {
    width: 150px;
    font-size: 18px;
    margin: 0px auto;
}

.todo-done2 {
    padding: 10px 17px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px !important;
    font-weight: bold;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.todo-done2:hover {
    background-color: #081c29;
    color: white;
    box-shadow: 0px 0px 16px 0px #0ef;
}

.correct-icon {
    font-size: 20px;
}

.dailytasks {
    font-family: monospace;
    margin: 40px auto;
    border-bottom: 1px solid;
    width: 15%;
    font-size: 26px;
}

.completedtasks {
    font-family: monospace;
    margin: 40px auto;
    border-bottom: 1px solid;
    width: 20%;
    font-size: 26px;
}

button.clear_button {
    top: 47%;
    right: 34%;
}

.main .tod_clear_button {
    position: absolute;
    top: 44%;
    right: 41%;
    border: none;
    background-color: transparent;
    font-size: 22px;
}

button.clear_button:hover {
    box-shadow: 0px 0px 6px 0px #0ef;
    border-radius: 40%;

}


@media screen and (min-width:320px) and (max-width:767px) {
    .main .tod_clear_button {
        top: 46%;
        right: 36%;
    }

    .todo-form {
        width: 94%;
        border-radius: 20px;
        margin-top: 10px;
    }

    .dailytasks {
        width: 85%;
        text-align: center;
    }

    .todo_list .todo-table {
        width: 98%;
    }

    .completedtasks {
        width: 98%;
        font-size: 22px;
        text-align: center;
    }

    .todo-done2 {
        padding: 7px;
    }

    .todo-table .todo_list2 .todo-delete {
        padding: 8px;
        margin: 0px 6px;
        width: 70px;
    }

    .todo-done {
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:1440px) {
    button.clear_button {
        top: 77%;
        right: 34%;
    }

    .todo-form {
        width: 94%;
        border-radius: 20px;
        margin-top: 50px;
    }

    .dailytasks {
        width: 85%;
        text-align: center;
    }

    .todo_list .todo-table {
        width: 98%;
    }

    .completedtasks {
        width: 98%;
        font-size: 22px;
        text-align: center;
    }

    .todo-done2 {
        padding: 7px;
    }

    .todo-table .todo_list2 .todo-delete {
        padding: 8px;
        margin: 0px 6px;
        width: 70px;
    }

    .todo-done {
        text-align: center;
    }

}